* {
  font-family: Nunito Sans, sans-serif;
}
.date-carousel {
  background-color: none;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  height: 0.5in;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  width: 100%;
  margin-top: 0.1rem;
}

.date-carousel-next,
.date-carousel-prev,
.date-carousel-input {
  box-sizing: border-box;
  position: relative;
  border: none;
}

.date-carousel-next,
.date-carousel-prev {
  background-color: transparent;
  cursor: pointer;
  width: 4rem;
  fill: rgba(0, 0, 0, 0.808);
  /* fill: rgb(20, 170, 70); */
}

.date-carousel-input {
  color: #000000ce;
  background-color: transparent;
  text-align: center;
  width: 15rem;
  font-size: 1.7rem;
  font-weight: bolder;
}

/* Disable Native UI */

.date-carousel-input::-webkit-inner-spin-button,
.date-carousel-input::-webkit-input-placeholder {
  display: none;
  -webkit-appearance: none;
}
